/* Estilos para cards*/
#f728b4fa-4248-5e3a-0a5d-2f346baa9455 {
    background: rgb(19, 30, 69);
}

/* Estilos para o dashboard */
#page-main #right-header {
    display: flex;
}
.card:has(#page-main) {
    background-color: rgb(237, 240, 253);
}

.card {
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.5s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.map-container {
    background-color: #79e50da4;
    padding: 15px;
    border-radius: 8px;
}

.region-title {
    color: #2c3e50;
    font-weight: bold;
    margin-bottom: 15px;
}

.color-bar {
    background: linear-gradient(90deg, #3498db, #2ecc71);
}

/* Estilos para o botão de SAIR */
#theme-button {
    padding: 6px 12px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#theme-button:hover {
    background-color: #0056b3;
}

#btn-sair {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 8px 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1000;
    text-decoration: none;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.2s ease;
}
#btn-sair:hover {
    background-color: #0056b3;
}
